@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #D6D58E,#DBF227)
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #042940;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #005C53 ;
    text-align: center; 
    text-shadow: #DBF227;
}
h2{
    color: #005c539a;
}



p{
    text-align: justify;
}



